/* ----- Base ----- */
@import url(../src/css/base/reset.css);
@import url(../src/css/base/variables.css);

/* ----- Components ----- */
@import url(../src/css/components/header.css);
@import url(../src/css/components/card.css);
@import url(../src/css/components/modal.css);
@import url(../src/css/components/button.css);


/* ----- Pages ---- */
@import url(../src/css/pages/home.css);



html {
    touch-action: manipulation;
    background-color: var(--color-surface);
}

body {
    max-width: 90rem;
    margin-inline: auto;
    background: var(--color-surface);
    font-family: var(--font-main-sans);

    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-sm);

}